{{- if .Values.serviceAccount.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "tsuru-api.fullname" . }}
  labels:
    {{- include "tsuru-api.labels" . | nindent 4 }}
rules:
- apiGroups: ["batch"]
  resources: ["cronjobs"]
  verbs: ["get", "list", "create", "update", "delete"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list", "create", "update", "delete"]
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["watch", "list", "get", "update"]
- apiGroups: [""]
  resources: ["serviceaccounts", "namespaces"]
  verbs: ["create", "delete"]
- apiGroups: [""]
  resources: ["events"]
  verbs: ["watch", "list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["watch", "get", "list", "create", "delete"]
- apiGroups: [""]
  resources: ["pods/attach"]
  verbs: ["create"]
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["create"]
- apiGroups: [""]
  resources: ["services"]
  verbs: ["watch", "list", "get", "create", "delete"]
- apiGroups: [""]
  resources: ["endpoints"]
  verbs: ["watch", "list", "get", "create", "delete"]
- apiGroups: ["extensions"]
  resources: ["deployments", "deployments/rollback"]
  verbs: ["get", "create", "update", "delete", "list"]
- apiGroups: ["apps"]
  resources: ["deployments", "deployments/rollback"]
  verbs: ["get", "create", "update", "delete"]
- apiGroups: ["apps"]
  resources: ["daemonsets"]
  verbs: ["get", "create", "update"]
- apiGroups: ["apps"]
  resources: ["replicasets"]
  verbs: ["delete", "get", "list"]
- apiGroups: ["apiextensions.k8s.io"]
  resources: ["customresourcedefinitions"]
  verbs: ["create", "get"]
- apiGroups: ["tsuru.io"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: [""]
  resources: ["persistentvolumes", "persistentvolumeclaims"]
  verbs: ["get", "create", "update", "delete", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ template "tsuru-api.fullname" . }}
  labels:
    {{- include "tsuru-api.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "tsuru-api.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "tsuru-api.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end -}}
