{{- if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "rpaas-api.fullname" . }}
  labels:
    {{- include "rpaas-api.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - create
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - get
  - list
  - create
  - patch
  - update
  - delete
- apiGroups:
  - ""
  resources:
    - pods/log
  verbs:
    - list
    - get
    - watch
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - pods/ephemeralcontainers
  verbs:
  - patch
- apiGroups:
  - ""
  resources:
  - pods/attach
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - list
  - get
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - events
  - pods
  verbs:
  - list
  - get
  - watch
- apiGroups:
  - nginx.tsuru.io
  resources:
  - nginxes
  verbs:
  - get
- apiGroups:
  - extensions.tsuru.io
  resources:
  - rpaasflavors
  - rpaasplans
  verbs:
  - get
  - list
- apiGroups:
  - metrics.k8s.io
  resources:
  - pods
  verbs:
  - list
  - get
- apiGroups:
  - extensions.tsuru.io
  resources:
  - rpaasinstances
  verbs:
  - get
  - list
  - create
  - update
  - delete
  - patch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
{{- end }}
