tsuru:
  pool:
    name: "default"

replicaCount: 1
prometheus:
  version: v2.30.0
  image:
    repository: quay.io/prometheus/prometheus

  alerting: {}
  # alertmanagers:
  # - apiVersion: v2
  #   name: alertmanager
  #   namespace: default
  #   pathPrefix: /
  #   port: web

service:
  type: ClusterIP
  annotations: {}

resources: {}

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: "tsuru-prometheus-pool"

podAnnotations: {}
volumeClaimTemplate:
  spec:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 50Gi
    storageClassName: standard

securityContext:
  fsGroup: 2000
  runAsGroup: 2000
  runAsNonRoot: true
  runAsUser: 1000


networkPolicy:
  enabled: true
  k8sAPIAddresses: []
  # - IPs of k8s-apiserver

  # additionalEgressRules:
  # - to:
  #   - namespaceSelector:
  #       matchLabels:
  #         name: myothernamespace


ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  host: default.mypool.io
  path: '/'
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

rpaas:
  enabled: true
  # namespaceSelector:
  #  matchNames:
  #  - rpaasv2-fe
  #  - rpaasv2-be
  selector:
    matchLabels:
      'nginx.tsuru.io/app': nginx
# additionalScrapeConfigs:
#   # Read more at: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/additional-scrape-config.md
#   name: additional-scrape-configs
#   key: prometheus-additional.yaml

# additionalAlertManagerConfigs:
#   # Read more at: https://github.com/prometheus-operator/prometheus-operator/blob/371192cdc95e4596c4f07591ff65104d8c85bad9/pkg/apis/monitoring/v1/types.go#L441
#   name: additional-alert-manager-configs
#   key: alert-manager-additional.yaml
